<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>       

        <title>Backend | N5 Logger</title>
    </head>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black; /* Add borders */
            padding: 8px;
            text-align: center;
            max-width: 200px; /* Maximum width of the cell */
            overflow-wrap: break-word; /* Allow text to wrap within the cell */
        }        
        .more-info {
            display: none;
        }
    </style>

    <body>

        <div class="px-6 py-6 flex justify-between">        
            <form method="post" id="serials">
                {% csrf_token %}
                <label>Serial Device: </label>
                <select name="serials" class="border rounded p-2 mb-2" id="serials">
                    {% for serial in serials %} 
                        {% if serial.serial == current_serial %}
                            <option value="{{ serial }}" selected>{{ serial }}</option>
                        {% else %}
                            <option value="{{ serial }}">{{ serial }}</option>
                        {% endif %}
                    {% endfor %}
                </select>  
                {% if serials %}
                    <button name="deleteRecords" value="Submit" onclick="submitButton()" class="border rounded p-2 mb-2 bg-red-500 text-white">Delete Records</button>
                {% endif %}
                <button name="refreshRecords" value="Refresh" onclick="submitButton()" class="border rounded p-2 mb-2 bg-blue-400 text-white">Refresh</button>
                <button name="exportData" value="Export" onclick="submitButton()" class="border rounded p-2 mb-2 bg-green-400 text-white">Export Data</button>
                <a href="https://alps-europe-sbd.atlassian.net/wiki/x/FwDo7Q" target="_blank" class="text-blue-400 hover:underline">Confluence - NBIOT Trumi Logger</a>

                <h1>Live Time</h1>
                <p id="live-time">Loading...</p>
            </form>

            
            {% if page_obj.has_other_pages %}
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1{% if current_serial %}&serial={{ current_serial }}{% endif %}">&laquo; [first]</a>
                            <a href="?page={{ page_obj.previous_page_number }}{% if current_serial %}&serial={{ current_serial }}{% endif %}">[previous]</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}{% if current_serial %}&serial={{ current_serial }}{% endif %}">[next]</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}{% if current_serial %}&serial={{ current_serial }}{% endif %}">[last] &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
            
        </div>

        <div class="px-6">  
            <table>
                <tr class="row">
                    <th>Logger timestamp</th>
                    <th>Seq</th>
                    <th>Msg type</th>                
                    <th>Cell ID</th>                
                    <th>Temp</th>                
                    <th>Trumi State</th>                
                    <th>Trumi<br>Sample<br>Count</th>                
                    <th>Trumi<br>Count</th>                
                    <th>Relocation<br>Count</th>                
                    <th>Stored<br>Count</th>                
                </tr>
                {% for data in page_obj  %}    
                    {% if data.is_incremental %}
                        <tr class="row bg-blue-200 hover:bg-pink-500">
                    {% else %}
                        <tr class="row bg-orange-400 hover:bg-pink-500">
                    {% endif %}    
                        <td> {{ data.lgr_msg_ts}} </td>
                        <td> {{ data.seq_num}} </td>                    
                        <td> {{ data.msg_type}} </td>                
                        <td> {{ data.cell_id}} </td>                
                        <td> {{ data.actual_temp}} </td>                
                        <td> {{ data.trumi_st}} </td>                
                        <td> {{ data.trumi_st_upd_count}} </td>                
                        <td> {{ data.trumi_st_trans_count}} </td>                
                        <td> {{ data.reloc_st_trans_count}} </td>                
                        <td> {{ data.stored_st_trans_count}} </td>                
                    </tr>                            
                    <tr class="more-info bg-yellow-200">
                        <td colspan="10" style="text-align: left;">
                            Message timestamp: {{ data.msg_gen_ts }}
                            <br></br>
                            Last Cell ID switch timestamp: {{ data.cell_id_ts }}
                            <br></br>
                            Last Trumi Update timestamp: {{ data.trumi_st_upd_ts }}
                            <br></br>
                            Flags: {{ data.flags }}
                            <br></br>
                            WiFi AP's: {{ data.wifi_aps }}
                            <br></br>
                            Payload size: {{ data.pld_sz }}
                            <br></br>
                            Payload CRC: {{ data.pld_crc }}
                            <br></br>
                            Header CRC: {{ data.header_crc }}
                            <br></br>
                            XYZ raw:<br>{{ data.xyz_raw }}
                            <br></br>
                            Payload:<br>{{ data.payload|linebreaksbr|safe }}
                        </td>
                    </tr>               
                {% endfor %}
            </table>            
        </div>
    </body>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var rows = document.querySelectorAll('.row');

            rows.forEach(function(row) {
                row.addEventListener('click', function() {
                    // Toggle visibility of the next row (which contains more info)
                    var nextRow = row.nextElementSibling;
                    if (nextRow && nextRow.classList.contains('more-info')) {
                        nextRow.style.display = nextRow.style.display === 'none' ? 'table-row' : 'none';
                    }
                });
            });
        });

        // Get the dropdown menu element
        var dropdownMenu = document.getElementById('serials');

        // Add event listener to detect changes in the dropdown menu
        dropdownMenu.addEventListener('change', function () {
            // Get the form element
            var form = document.getElementById('serials');

            // Submit the form
            form.submit();
        });
    </script>

    <script>
        function submitButton() {
            var form = document.getElementById('deleteRecords');
            form.submit();
        }
    </script>
    
    <script>
        function updateTime() {
            var currentTime = new Date();
            var hours = currentTime.getHours();
            var minutes = currentTime.getMinutes();
            var seconds = currentTime.getSeconds();

            // Add leading zeros if needed
            minutes = (minutes < 10 ? "0" : "") + minutes;
            seconds = (seconds < 10 ? "0" : "") + seconds;

            // Format the time
            var formattedTime = hours + ":" + minutes + ":" + seconds;

            // Update the time displayed on the page
            document.getElementById('live-time').innerText = formattedTime;
        }

        // Update the time every second
        setInterval(updateTime, 1000);

        // Call updateTime initially to avoid initial delay
        updateTime();
    </script>
    
</html>